*{
    padding:0;
    margin: 0;
    
}

.block{
     height: 80px;
     
     background-color: rgb(9, 9, 9);
     width: 100%;
}
input{
    width: 300px;
    height: 111px;
}
   
#malai{
    color: white;
    position:relative;
    padding: 10px;
    font-size: 25px;
    bottom: 5px;
    
}
#malai:hover{
    background-color:rgb(33,33,33) ;
    border-radius: 15px;
}  

#youtube{
    color: red;
    position: relative;
    padding: 20px;
    font-size: 30px;
    bottom: 3px;
}  
.container{
    width: 300px;
    height: 1080px;
    overflow-y: scroll;
     
    display: none;
    background-color: rgb(9, 9, 9);

}


.home{
    position: relative;
   
    padding: 13px;
    
    height: 150px;
    bottom: 5px;
   

}
.home i{
  color: white;
  margin-left: 20px;
}

.home ul li{
    padding:12px;
    font-weight: 300;
    font-size: 23px;
    
    border-radius: 10px;
    
    
}
.home a{
   
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.home ul li:hover{
    background-color: rgb(33,33,33);

}
h3{
    color: white;
    position: relative;
    padding: 20px;
    font-weight: 900;
    font-size: 30px;
}
.you i{
    color: white;
    margin-right: 10px;
   
}
.you ul{
    margin-left: 20px;
 
} 
.you ul li{
    padding: 12px;
}
.you
.home{
    position: relative;
    padding: 10px;
    padding: 10px;
    
    height: 150px;
   

}
.you i{
  color: white;
  margin-left: 20px;
}

.you ul li{
    padding:15px;
    font-weight: 300;
    font-size: 23px;
    
    border-radius: 10px;
    
    
}
.you a{
   
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.you ul li:hover{
    background-color: rgb(33,33,33);

}